body    {
    font-family: sans-serif;
    }
    /*El h1,img,video ya estan definidos correctamente #4*/
    h1 {
    color: red;
    text-align: center;
    }
    
    img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: auto;
    }
    
    video{
        max-width: 80%;
        height: auto;
        display: block;
        margin: auto;
    }